@tailwind base;
@tailwind components;
@tailwind utilities;

.recommender-wrapper .header {
  gap: 20px;
}

.recommender-wrapper .header .title {
  font-size: 22px;
}

.recommender-wrapper .header .selectors {
  gap: 15px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.recommender-wrapper .header .selectors .selector {
  cursor: pointer;
  padding: 8px;
}

.recommender-wrapper .header .selectors .selector.current {
  color: #fff;
  background: var(--dark-blue);
}

.recommender-wrapper .content {
  width: fit-content;
  gap: 20px;
  user-select: none;
}

.recommender-wrapper .content .item-card {
  width: 170px;
  height: 250px;
}

.recommender-wrapper .content .item-card div {
  margin-left: 10px;
}

.recommender-wrapper .content .item-card .image {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

.recommender-wrapper .content .item-card .rating {
  display: inline-block;
  width: 42px;
  height: 42px;
  position: relative;
  padding: 10px;
  color: #fff;
  background: var(--dark-blue);
  border-radius: 50%;
  border: 3px solid greenyellow;
  z-index: 1;
  bottom: 20px;
  font-size: 14px;
  line-height: 1;
}

.recommender-wrapper .content .item-card .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: -10px;
}

.recommender-wrapper .content .item-card .date {
  font-weight: 400;
  color: #969696;
}
