.nav-bar {
  padding: 20px;
  background: var(--dark-blue);
  color: #fff;
}

.nav-bar .section-right {
  gap: 20px;
}

.nav-bar .section-right div {
  cursor: pointer;
}

.nav-bar .section-right .search-icon {
  display: block;
  width: 32px;
  height: 32px;
  background: url('/assets/images/search.png');
  background-repeat: no-repeat;
  background-size: 32px;
}

.nav-bar .section-right .create-movie {
  font-size: 32px;
  font-weight: 700;
}

.nav-bar .section-right .language-selector {
  border: 1px solid #fff;
  padding: 5px;
}

.nav-bar .nav-link {
  gap: 20px;
}

.nav-bar .nav-link .nav-link-item {
  display: block;
  width: max-content;
  cursor: pointer;
}

.under-link-container {
  position: absolute;
  width: 150px;
  z-index: 5;
  border: 1px solid #000;
  border-radius: 6px;
  cursor: default;
}

.under-link-container .under-link-item {
  cursor: pointer;
}